@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: #f0f2f5; /* Light background to contrast with white CV */
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 50px 20px;
}

.group:hover {
  opacity: 1;
}

.my-text-align {
  text-align: left;
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }

  .container {
    border-radius: 0;
  }

  .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .my-text-align {
    text-align: center; /* Center alignment on smaller screens */
    margin-right: 0;
  }

  .profile-img {
    position: relative;
    left: 0;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 50px;
  }

  .details-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
  }

  .phone {
    margin: 0;
  }

  .name {
    margin-top: 10px;
  }
}

/* forms should also have padding */
