@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5; /* Light background to contrast with white CV */
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  padding-top: 50px;
}
