@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Roboto", sans-serif;
  background-color: #f0f2f5; /* Light background to contrast with white CV */
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 50px;
  padding-bottom: 50px;
}
